.contact-bar {
  height: 100%;
  width: 25vw;
  max-width: 30rem;
  min-width: 8rem;


  //position: fixed;
  //z-index: -1;
}

.contact-bar-button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;

}