.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

;

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

;

.modal {
  align-items: center;
  background: darken(#fff, 1%);
  border: black solid 1px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin: 1rem;
  outline: none;
  padding: $l-size;
  text-align: center;
  width: 80vw;

  > div {
    width: 100%;
  }
  div {
    height: 100%;

  }

  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    width: 60vw;

  }

}

;

.modal--close {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: 3.2rem;

  button {
    background: none;
    color: black;
    padding: .5rem;
  }
}

.modal__body {
  display: flex;
  flex-direction: column;
  max-width: 50rem;

}

;